<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uwaterloo.proxtimeity">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/proxtimeity_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDzLa8qSwXB_6atLv-wEFW2qR5KkG2xFuU" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseTypeActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateTimeActivity"
            android:parentActivityName=".ChooseTypeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CreateLocationActivity"
            android:parentActivityName=".ChooseTypeActivity"
            android:windowSoftInputMode="stateHidden" />

        <receiver android:name=".AlarmReceiver" />

        <service android:name=".GeofenceTransitionsIntentService" />

        <activity android:name=".ViewCompletedRemindersActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>